<header class="header">
  <div class="header__container container">
    <h1 class="logo" (click)="goToRoot()">Inventory Tracker</h1>
    <ul class="list">
      <ng-container *ngIf="userLoggedIn === 'yes'">
        <li class="list__item"><a [routerLink]="['account']">Account</a></li>
        <li class="list__item"><a (click)="logout()">Logout</a></li>
      </ng-container>
      <ng-container *ngIf="userLoggedIn === 'no'">
        <li class="list__item"><a [routerLink]="['login']">Login</a></li>
      </ng-container>
      <ng-container *ngIf="userLoggedIn === 'pending'">
        <li class="list__item">Loading...</li>
      </ng-container>
    </ul>
  </div>
</header>
<main class="container">
  <ng-content></ng-content>
</main>
